/* -------------------------------Settings------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e3e3e3;

  font-family: "Roboto", sans-serif;
  color: #575757;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #575757;
  cursor: pointer;
}

a:visited,
a:link {
  color: #575757;
}

input {
  outline: none;
}

/* -------------------------------------------------------------- */

/* -------------------------------Navigation------------------------------- */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;

  width: 100%;
  height: 85px;

  padding: 5px 5px 5px 5px;

  box-shadow: 0px 4px 9px 0px #0000002e;

  z-index: 9999;

  transition: all 1s ease;
}

#homeLogo,
#homeText,
#searching,
#ajouter,
#categorie,
#profil,
#favoris {
  margin-top: auto;
  margin-bottom: auto;

  text-align: center;
}

#logo {
  width: 70px;

  transition: all 1s ease;
}
#logo:hover {
  transform: rotate(360deg);
}

#homeText {
  margin-right: 75px;
  margin-left: 3px;
  font-size: 33px;
}

#B {
  font-family: "Baumans", cursive;
  color: #f50;
}

#ajouter {
  background-color: #f50;
  color: white;
  width: 190px;
  height: 45px;

  margin-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 4px 9px 0px #0000002e;
  border: solid 2px rgba(0, 0, 0, 0.1);
}

#ajouter a {
  color: white;
}

#searching {
  margin-right: 100px;

  opacity: 1;

  transition-duration: 0.4ss;
}

#categorie,
#profil,
#favoris {
  margin-right: 25px;
}

#categorie a i,
#profil a i,
#favoris a i {
  transition: all 0.1s ease;
}

#categorie a:hover i,
#profil a:hover i,
#favoris a:hover i {
  color: #f50;
}

#ajouter .fa-plus-square,
#profil .fa-user,
#favoris .fa-heart,
#categorie .fa-list-alt {
  font-size: 18px;
}

input[type="search"] {
  width: 206px;
  height: 27px;

  padding: 9px 10px 9px 32px;
  border: solid 2px rgb(115, 115, 115);
  border-radius: 10em;

  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: #333;

  background: #f9f9f9 url("../images/search.svg") no-repeat 9px center;
  background-size: 15px;

  box-sizing: content-box;
  box-shadow: 0px 4px 9px 0px #0000002e;

  transition: all 0.5s;
}

input[type="search"]:focus {
  width: 250px;

  color: rgb(95, 95, 95);

  background-color: #fff;

  border-color: #f50;
}

/* -------------------------------------------------------------- */

/* ------------------------------- Burger------------------------------- */

.burger_menu {
  display: none;
  flex-direction: column;
  justify-content: center;

  width: 70px;
  height: 70px;

  margin-top: auto;
  margin-bottom: auto;
}

#burger_slide1,
#burger_slide2,
#burger_slide3 {
  width: 63px;
  height: 8px;

  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: auto;

  background-color: #606060;

  border: none;

  transition: ease 1s;

  transform: scale(0.7);
}

.burger_cl {
  display: none;
  flex-direction: column;
  justify-content: center;

  transition: all 1s ease;
}

#ajouter_burger,
#categorie_burger,
#favoris_burger,
#profil_burger {
  font-size: 17px;

  text-align: center;
}

#favoris_burger {
  margin-top: 40px;
  margin-bottom: 40px;
}

#ajouter_burger .fa-plus-square,
#profil_burger .fa-user,
#favoris_burger .fa-heart,
#categorie_burger .fa-list-alt {
  font-size: 25px;
}

#searching_burger input[type="search"] {
  display: none;

  width: 206px;
  height: 27px;

  padding: 9px 10px 9px 32px;
  border: solid 2px rgb(115, 115, 115);
  border-radius: 10em;

  font-family: "Roboto", sans-serif;
  font-size: 100%;
  color: #333;

  background: #f9f9f9 url("../images/search.svg") no-repeat 9px center;
  background-size: 15px;

  box-sizing: content-box;
  box-shadow: 0px 4px 9px 0px #0000002e;

  transition: all 0.5s;
}

#searching_burger input[type="search"]:focus {
  width: 250px;

  color: rgb(95, 95, 95);

  background-color: #fff;

  border-color: #f50;
}

#exit_burger {
  display: none;

  height: 44px;

  margin-top: 15px;

  background-color: rgba(255, 255, 255, 0);
  border: none;

  font-size: 40px;
  color: #c8a45d;

  cursor: pointer;

  transition: all 1s ease;
}

/* -------------------------------------------------------------- */

/* ------------------------------- Accueil Index------------------------------- */

.welcome {
  margin-top: 50px;
  text-align: center;
}

.welcome h1 {
  font-weight: 500;
}

.welcome h2 {
  margin-top: 15px;
  font-weight: 400;
}

#orange {
  color: #f50;
}

#underline {
  color: #f50;
}

.btn_container_add {
  width: 327px;

  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

.btn-add {
  width: 327px;
  height: 62px;

  border-radius: 5px;
  border: solid 1px #737373;

  background-color: #4a90e2;

  font-size: 18px;
  font-family: "Roboto", sans-serif;

  color: rgb(255, 255, 255);

  cursor: pointer;

  transition-duration: 0.3s;
}

.btn-add i {
  font-size: 20px;
}

.btn-add:hover {
  background-color: #307dd7;
}

.banner {
  width: 1200px;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.titre_newAnnonce {
  width: 1160px;

  margin-left: auto;
  margin-right: auto;

  font-size: 18px;
}

.titre_newAnnonce h3 {
  font-weight: 500;
}

.container_newAnnonce {
  display: flex;
  justify-content: space-around;

  width: 1160px;
  height: 550px;

  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  padding: 15px;

  background-color: rgb(249, 249, 249);

  border: solid 2px rgb(115, 115, 115);

  box-shadow: 0px 4px 9px 0px #0000002e;
}

.new_show_annonce {
  width: 300px;
  height: 100%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: solid 2px;

  box-shadow: 0px 4px 9px 0px #0000002e;
}

.show_img {
  width: 100%;
  height: 75%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  border-bottom: solid 2px;

  object-fit: cover;
}

.container_txt {
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.container_txt p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* -------------------------------------------------------------- */

/* -------------------------------Login-------------------------------*/
.page_login {
  width: 100%;
  height: 85vh;

  /* background: no-repeat center bottom / 1200px url("../images/bannerLogin.svg") */
  background-image: url("../images/rondDeco.svg"),
    url("../images/bannerLogin.svg");
  background-repeat: no-repeat;
  background-size: 1400px, 1200px;
  background-position: top, bottom;
}

.container_login {
  width: 500px;
  height: 485px;

  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

  padding: 45px 10px 45px;

  background-color: #e3e3e3;

  border-radius: 20px;
  /* border: solid 2px rgba(59, 65, 72, 0.51); */
  box-shadow: 0px 4px 9px 0px #00000052;

  text-align: center;

  animation: 1.8s ease LoginForm;
}

.container_login h2 {
  margin-bottom: 10px;

  font-size: 27px;
  letter-spacing: 1px;
}

.container_login p {
  margin-bottom: 50px;
}

.container_mail {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;

  width: 304px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  border: solid 1px #737373;
}

.ico_mail,
.ico_password {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 54px;
  height: 54px;

  border-right: solid 1px rgb(44, 44, 44, 0.48);
  background-color: #e3e3e3;

  text-align: center;
  color: #646464;
}

.container_password {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 305px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  border: solid 1px #737373;
}

#inputPassword,
#inputEmail {
  width: 250px;
  height: 54px;

  padding-left: 15px;

  border: none;
  background-color: #ffffff5c;

  font-size: 14px;
  font-family: "Roboto", sans-serif;

  color: #000;

  letter-spacing: 1px;

  transition-duration: 0.2s;
}

#inputPassword:focus,
#inputEmail:focus {
  background-color: #f9f9f9;
  color: #000;
}

#inputPassword:hover,
#inputEmail:hover {
  background-color: #f9f9f9;
}

button.btn-lg {
  width: 306px;
  height: 54px;

  margin-top: 15px;

  border-radius: 5px;
  border: solid 1px #737373;

  background-color: #4a90e2;

  font-size: 17px;
  font-family: "Roboto", sans-serif;

  color: rgb(255, 255, 255);

  cursor: pointer;

  transition-duration: 0.3s;
}

button.btn-lg:hover {
  background-color: #307dd7;
}

.mb-3,
.alert-danger {
  width: 250px;

  margin-top: 20px;

  line-height: 24px;
  color: rgb(213, 213, 213);
}

i.fa-exclamation-triangle {
  color: #ffa700;
}

.mb-3 a,
.mb-3 a:visited,
.mb-3 a:link {
  text-decoration: underline;
}

#redirec_register {
  margin-top: 30px;
}

#redirec_register a {
  font-weight: 500;
  color: #3b9cfd;
}

#redirec_register a:hover {
  color: #3b89fd;
  text-decoration: underline;
}

/* -------------------------------------------------------------- */

/* ------------------------------- Register ------------------------------- */
.page_register {
  width: 100%;
  height: 100vh;

  /* background: no-repeat center bottom / 1200px url("../images/bannerLogin.svg") */
  background-image: url("../images/bannerLogin.svg"),
    url("../images/rondDeco.svg");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: bottom, top;
}

.container_register {
  width: 525px;
  height: 905px;

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  padding: 25px 10px 25px;

  background-color: #e3e3e3f7;

  border-radius: 20px;
  /* border: solid 2px rgba(59, 65, 72, 0.51); */
  box-shadow: 0px 4px 9px 0px #00000052;

  text-align: center;

  animation: 1.8s ease LoginForm;
}

.container_register h2 {
  margin-bottom: 10px;

  font-size: 27px;
  letter-spacing: 1px;
}

#accroche {
  margin-bottom: 40px;
}

.container_prenom,
.container_nom,
.container_pseudo,
.container_date,
.container_mail,
.container_password,
.container_passwordCheck {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;

  width: 304px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;

  border: solid 1px #737373;
}

.container_date,
.container_pseudo {
  margin-bottom: 45px;
}

.container_password {
  margin-bottom: 5px;
}

.container_passwordCheck {
  margin-top: 20px;
}

.ico_ {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 54px;
  height: 54px;

  border-right: solid 1px rgb(44, 44, 44, 0.48);
  background-color: #e3e3e3;

  text-align: center;
  color: #646464;
}

#inputPrenom,
#inputNom,
#inputPseudo,
#inputDate,
.page_register #inputEmail,
.page_register #inputPassword,
.page_register #inputPasswordCheck {
  width: 250px;
  height: 54px;

  padding-left: 15px;

  border: none;
  background-color: #ffffff5c;

  font-size: 14px;
  font-family: "Roboto", sans-serif;

  color: #000;

  letter-spacing: 1px;

  transition-duration: 0.2s;
}

#inputPrenom:focus,
#inputNom:focus,
#inputPseudo:focus,
#inputDate:focus,
.page_register #inputEmail:focus,
.page_register #inputPassword:focus,
.page_register #inputPasswordCheck:focus {
  background-color: #f9f9f9;
  color: #000;
}

#inputPrenom:hover,
#inputNom:hover,
#inputPseudo:hover,
#inputDate:hover,
.page_register #inputEmail:hover,
.page_register #inputPassword:hover,
.page_register #inputPasswordCheck:hover {
  background-color: #f9f9f9;
}

.contraintes_mdp {
  width: 314px;

  margin-left: auto;
  margin-right: auto;

  padding-left: 10px;

  text-align: initial;
  line-height: 25px;
}

.contraintes_mdp p {
  font-size: 15px;
}

.slider_mdp {
  width: 250px;
  height: 6px;

  margin-top: 5px;
  margin-bottom: 15px;

  background-color: #acacac;

  border-radius: 15px;
}

.int_slider {
  width: 15%;
  height: 6px;

  background-color: red;

  border-radius: 15px;

  transition-duration: 0.5s;
}

#message {
  display: none;

  width: 304px;

  margin-left: auto;
  margin-right: auto;

  text-align: initial;
  font-size: 15px;
}

.message2 {
  width: 304px;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  text-align: initial;
  font-size: 15px;
  line-height: 25px;

  color: red;
}

.page_register button.btn-lg {
  width: 306px;
  height: 54px;

  margin-top: 0px;

  border-radius: 5px;
  border: solid 1px #737373;

  background-color: #4a90e2;

  font-size: 17px;
  font-family: "Roboto", sans-serif;

  color: rgb(255, 255, 255);

  cursor: pointer;

  transition-duration: 0.3s;
}

.page_register button.btn-lg:hover {
  background-color: #307dd7;
}

#condition {
  margin-top: 10px;

  font-size: 13px;
}

/* -------------------------------------------------------------- */

/* -------------------------------Account-------------------------------*/
.page_account {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  margin-top: 35px;
}

.container_account {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}

.sous_nav {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 50px;

  padding-left: 25px;

  border-bottom: solid 2px #999;

  background-color: #e3e3e3;
}

#sn_annonce,
#sn_favoris,
#sn_deco {
  width: 145px;

  margin-top: auto;
  margin-bottom: auto;

  text-align: center;

  cursor: pointer;
}

#sn_annonce hr,
#sn_favoris hr,
#sn_deco hr {
  height: 3px;

  margin-top: 13px;
  margin-bottom: -14px;

  border: none;
  border-radius: 15px;

  transition: all 0.2s ease;
}

#sn_annonce:hover hr,
#sn_favoris:hover hr,
#sn_deco:hover hr {
  background-color: #f50;
}

#sn_annonce a i,
#sn_favoris a i,
#sn_deco a i {
  transition: all 0.3s ease;
}

#sn_annonce .fa-user,
#sn_favoris .fa-heart,
#sn_deco .fa-list-alt {
  font-size: 18px;
}
/* ------------------------------------------- */
.sous_container_settings {
  display: flex;

  width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 45px;
}

.settings {
  display: flex;
  flex-direction: column;

  width: 265px;

  margin-left: auto;
  margin-right: 20px;

  background-color: #e3e3e3;
}

.img_profil {
  width: 250px;
  height: 250px;

  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 125px;
  box-shadow: 0px 4px 9px 0px #000000a6;

  /* background-image: url("../images/1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;

  transition-duration: 0.4s;
}

.edit_picture {
  width: 35px;
  height: 35px;

  margin-top: 190px;
  margin-left: auto;
  margin-right: 50px;

  padding-top: 8px;

  border-radius: 25px;
  background-color: #ffffffb3;

  text-align: center;

  transition-duration: 0.2s;
}

.img_profil:hover .edit_picture {
  background-color: white;
}

.settings input {
  width: 100%;
  height: 37px;

  margin-top: 5px;

  padding-left: 10px;

  background-color: #fff0;

  border: solid 1px #999;
  border-radius: 5px;

  font-size: 14px;

  transition-duration: 0.2s;
}

.settings input:hover {
  background-color: #c6c6c6;
}

.settings input:focus {
  background-color: #c6c6c6;
}

.inputPseudo {
  margin-top: 5px;
}

.inputName,
.inputMail,
.inputDate {
  margin-top: 15px;
}

.inputName {
  display: flex;
}

#prenom_acc {
  width: 95%;
}

.inputNom_ label {
  margin-left: 5px;
}

#nom_acc {
  width: 97%;
  margin-left: 5px;
}

.inputDate {
  display: flex;
}

.inputDate i {
  margin-top: auto;
  margin-bottom: auto;

  font-size: 19px;
}

#date_acc {
  width: 90%;

  margin-left: 10px;
}

.inputMail {
  display: flex;
}

.inputMail i {
  margin-top: auto;
  margin-bottom: auto;

  font-size: 19px;
}

#mail_acc {
  width: 90%;

  margin-left: 10px;
}

.double_btn {
  margin-top: 20px;
}

#save_acc {
  width: 110px;
  height: 38px;

  background-color: #4a90e2;

  border: solid 1px #005ac4;
  border-radius: 5px;

  font-size: 15px;
  font-family: "Roboto", sans-serif;

  color: white;

  transition-duration: 0.3s;
}

#save_acc:hover {
  background-color: #307dd7;
}

#cancel_acc {
  width: 100px;
  height: 38px;

  background-color: #ddd;

  border: solid 1px #999;
  border-radius: 5px;

  font-size: 15px;
  font-family: "Roboto", sans-serif;

  color: #575757;

  transition-duration: 0.3s;
}

#cancel_acc:hover {
  background-color: #c6c6c6;
}
/* ------------------------------------------- */

.my_annonce {
  display: flex;
  flex-wrap: wrap;

  width: 65%;

  padding-left: 40px;

  border-left: solid 2px #999;
}

.container_myAnnonce,
.container_myFavoris {
  width: 515px;
  height: 360px;

  margin-top: 40px;
  margin-bottom: 15px;
  margin-right: 60px;

  box-shadow: 0px 4px 9px 0px #0000008c;
}

.my_annonce img {
  width: 100%;
  height: 180px;

  object-fit: cover;
}

.show_ico {
  position: relative;

  top: -180px;
  bottom: 0px;
  left: 491px;
  right: 0px;

  width: 19px;
  height: 19px;

  margin-bottom: -20px;

  padding-top: 0px;
  padding-bottom: 0px;

  background-color: #00000038;

  color: #fffc;

  text-align: center;

  transition-duration: 0.3s;
}

.show_ico:hover {
  color: white;
}

.textContent_My {
  padding-top: 15px;
  padding-left: 15px;
}

.textContent_My h3 {
  margin-bottom: 10px;
  font-weight: 500;
}

.btn-container-show {
  display: flex;
  justify-content: center;

  margin-top: 33px;

  padding-left: 15px;
  padding-right: 15px;
}

.btn-showAnnonce {
  width: 140px;
  height: 40px;

  border-radius: 5px;
  border: solid 1px #0202024a;

  font-size: 16px;
  font-family: "Roboto", sans-serif;

  color: rgb(255, 255, 255);

  cursor: pointer;

  transition-duration: 0.3s;
  margin-right: auto;

  background-color: #f50;
}

.btn-showAnnonce:hover {
  background-color: rgb(238, 79, 0);
}

.active {
  color: #f50;
}
.notActive {
  color: #575757;
}

.hr_active {
  background-color: #f50;
}
.hr_notActive {
  color: #f500;
}

/* -------------------------------------------------------------- */

/* ------------------------------- Add annonce ------------------------------- */
.page_addAnnonce {
  width: 100%;
  height: 100vh;

  background-image: url("../images/bannerLogin.svg"),
    url("../images/rondDeco.svg");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: bottom, top;
}

.container_addAnnonce {
  width: 700px;
  height: 905px;

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;

  padding: 25px 10px 25px;

  background-color: #e3e3e3f7;

  border-radius: 20px;
  box-shadow: 0px 4px 9px 0px #00000052;

  text-align: center;

  animation: 1.8s ease LoginForm;
}

.container_addAnnonce h2 {
  margin-bottom: 10px;

  font-size: 27px;
  letter-spacing: 1px;
}

.double_input {
  display: flex;
  flex-wrap: wrap;
}

.container_titre,
.container_categorie,
.container_prix,
.container_fake,
.container_image,
.container_desc {
  display: flex;
  flex-direction: row;
  justify-content: center;

  position: relative;

  width: 304px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  border: solid 1px #737373;
}

.container_image {
  width: 646px;

  margin-bottom: 15px;
  margin-left: 17px;
  margin-right: 0px;
}

.container_desc {
  width: 646px;
  height: 220px;

  margin-top: 30px;
}

.container_desc .ico_ {
  height: 218px;
}

#inputTitre,
#inputCategorie,
#inputPrix,
#inputFake,
#inputImage,
#inputDesc {
  width: 250px;
  height: 54px;

  padding-left: 15px;

  border: none;
  background-color: #ffffff5c;

  font-size: 14px;
  font-family: "Roboto", sans-serif;

  color: #000;

  letter-spacing: 1px;

  transition-duration: 0.2s;
}

#inputImage,
#inputDesc {
  width: 590px;
}

#inputCategorie,
#inputImage,
#inputDesc {
  color: #6e6e6e;
}

#inputImage {
  padding-top: 15px;
  padding-bottom: 15px;
}

#inputDesc {
  height: 218px;

  padding-top: 15px;

  resize: none;
}

#inputTitre:focus,
#inputCategorie:focus,
#inputPrix:focus,
#inputImage:focus,
#inputDesc:focus {
  background-color: #f9f9f9;
}

#inputTitre:hover,
#inputCategorie:hover,
#inputPrix:hover,
#inputImage:hover,
#inputDesc:hover {
  background-color: #f9f9f9;
}

.container_fake,
#inputFake {
  opacity: 0;

  cursor: default;
}

/* -------------------------------------------------------------- */

/* ------------------------------- Show Annonce ------------------------------- */

.page_annonce {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;

  margin-top: 35px;
}

._sous_nav {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 50px;

  border-bottom: solid 2px #999;

  background-color: #e3e3e3;
}

#annonce_sn_annonce,
#catCar,
#catBike,
#catBoat,
#catHouse,
#catOther {
  width: 145px;

  margin-top: auto;
  margin-bottom: auto;

  text-align: center;

  cursor: pointer;
}

#annonce_sn_annonce hr,
#catCar hr,
#catBike hr,
#catBoat hr,
#catHouse hr,
#catOther hr{
  height: 3px;

  margin-top: 13px;
  margin-bottom: -14px;

  border: none;
  border-radius: 15px;

  transition: all 0.2s ease;
}

#annonce_sn_annonce:hover hr,
#catCar:hover hr,
#catBike:hover hr,
#catBoat:hover hr,
#catHouse:hover hr,
#catOther:hover hr {
  background-color: #f50;
}

#annonce_sn_annonce a i,
#catCar a i,
#catBike a i,
#catBoat a i,
#catHouse a i,
#catOther a i {
  transition: all 0.3s ease;
}

#annonce_sn_annonce .fa-list-alt {
  color: #f50;
}

#annonce_sn_annonce .fa-user,
#catCar .fa-car-side,
#catBike .fa-motorcycle,
#catBoat .fa-anchor,
#catHouse .fa-building,
#catOther .fa-folder-open {
  font-size: 18px;
}

/* ------------------------------------------- */

.annonce {
  display: flex;
  flex-wrap: wrap;

  width: 60%;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

._annonce,
._annonceCar,
._annonceBike,
._annonceBoat,
._annonceHouse,
._annonceOther {
  display: flex;

  width: 100%;
  height: 230px;

  margin-top: 35px;
  margin-bottom: 35px;
}

._imgAnnonce {
  width: 968px;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;

  object-fit: cover;

  box-shadow: 0px 4px 9px 0px #00000082;
}

._txtAnnonce {
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

._txtAnnonce .top {
  display: flex;

  margin-bottom: 10px;
}

._txtAnnonce .top h2 {
  margin-right: auto;

  font-size: 27px;
  font-weight: 500;
}

._txtAnnonce .top h3 {
  margin-left: auto;

  font-size: 21px;
  font-weight: 500;

  color: #f50;
}

._txtAnnonce .middle {
  margin-bottom: 45px;
}

._catAnnonce{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 93px;
  height: 25px;

  background-color: #f50;

  border: solid 2px #e85e1a;
  border-radius: 10px;
  box-shadow: 0px 4px 9px 0px #0000003b;

  text-align: center;

  font-size: 16px;

  color: white;
}

._txtAnnonce .bottom{
  margin-bottom: 20px;
}

._txtAnnonce ._copyright{
  font-style: italic;
  font-weight: 300;
}

._txtAnnonce ._copyright span{
  font-weight: 400;
  font-style: normal;
}

/* .active {
  color: #f50;
}
.notActive {
  color: #575757;
}

.hr_active {
  background-color: #f50;
}
.hr_notActive {
  color: #f500;
}  */
